.Ramda-js{width: 334px;
    display: flex;
    height: 79px;
    margin-top: -45px;
    margin-left: -320px;
    }
.logo-mda{margin-top: 100px;
    color: #4BCAFF;font-family:'Roboto';font-size: 80px;}
    .logo{margin-left: 444px;
        margin-top: 100px;font-family:'Roboto' ;font-size: 80px;}
.div-menu{display: flex;background: #35444F;width: 830px;position: absolute;
    width: 1280px; height: 69px;left: 2px;top: 119px;
    background: #35444F;margin-left: 120px;margin-top: 60px;}
.div-bloc{border: 1px solid white;padding: 20px;}
.div-bloc-empty{margin: 40px;width: 75px;}
.div-main{background: rgba(0, 0, 0, 0.0001);width: 1480px;
    height: 1282px;position: absolute;margin-left: 10px;
    margin-top: -6px;}
    .text-menu{margin: 20px;margin-top: 3px;font-size: 24px;color: white;}
    .div-main-aside{padding-top: 0px;
        border: 1px solid #000000;
        position: absolute;
        width: 344px;
        height: 399px;
        margin-top: 302px;margin-left: 130px;}
        .aside-bloc{font-size: 27px;margin-left: 35px;padding-top: 28px;color: #495863;}
    .div-foto{width:885px;height: 529px;border: 1px solid #000000;margin-left: 528px;
        margin-top: 302px;
        position: absolute;
        height: 529px;}
    .foto{width: 320px;height: 381px;    margin-left: 266px;
        margin-top: 60px;}
    .div-text{width: 885px;height: 120px;}
    .p{font-size: 18px;line-height: 24px;
    color: #2C2C2C;}
    .div-text-main{margin-top: 865px;
        position: absolute;
        margin-left: 535px;}